html {
  background: #0d1117ff;
  color: #f0f6fcff;
}

pre {
  counter-reset: line;
  padding-left: 15px;
  line-height: 1.3em;
}

code > mark,
code details > mark {
  display: block;
  background: #2ea04326;
  border-left: 2px solid #2ea04366;
  margin-left: -2px;
  color: inherit;
}

.line::before {
  content: counter(line);
  counter-increment: line;
  color: #9198a1ff;
  text-align: right;
  width: 3ch;
  padding-left: 4px;
  padding-right: 8px;
  display: inline-block;
}

.line mark {
  background: #2ea04366;
  color: inherit;
  border: 1px solid #2ea043;
  border-radius: 4px;
}

summary {
  list-style-position: outside;
  .line {
    display: contents;
  }
}

details:not([open]) summary .line:not(:first-child) {
  &::before {
    display: none;
  }
}

a {
  text-decoration-style: dotted;
  &:hover {
    text-decoration-style: solid;
  }
}

.attribute {
}
.boolean {
  color: #79c0ffff;
}
.comment {
  color: #9198a1ff;
}
.comment.doc {
  color: #9198a1ff;
}
.constant {
  color: #79c0ffff;
}
.constructor {
  color: #79c0ffff;
}
.embedded {
  color: #ff7b72ff;
}
.emphasis {
  font-style: italic;
}
.emphasis.strong {
  font-weight: 700;
}
.enum {
  color: #ffa657ff;
}
.function {
  color: #d2a8ffff;
}
.function.method {
  color: #d2a8ffff;
}
.function.special.definition {
  color: #d2a8ffff;
}
.hint {
  color: #9198a1ff;
  font-weight: 700;
}
.keyword {
  color: #ff7b72ff;
}
.label {
  color: #79c0ffff;
}
.link_text {
  color: #a5d6ffff;
  font-style: italic;
}
.link_uri {
  color: #79c0ffff;
}
.number {
  color: #79c0ffff;
}
.operator {
  color: #f0f6fcff;
}
.predictive {
  color: #9198a1ff;
  font-style: italic;
}
.preproc {
  color: #ff7b72ff;
}
.primary {
  color: #f0f6fcff;
}
.property {
  color: #79c0ffff;
}
.punctuation {
  color: #f0f6fcff;
}
.punctuation.bracket {
  color: #f0f6fcff;
}
.punctuation.delimiter {
  color: #f0f6fcff;
}
.punctuation.list_marker {
  color: #ffa657ff;
}
.punctuation.special {
  color: #ff7b72ff;
}
.string {
  color: #a5d6ffff;
}
.string.escape {
  color: #7ee787ff;
  font-weight: 700;
}
.string.regex {
  color: #a5d6ffff;
}
.string.special {
  color: #79c0ffff;
}
.string.special.symbol {
  color: #79c0ffff;
}
.tag {
  color: #7ee787ff;
}
.text.literal {
  color: #79c0ffff;
}
.title {
  color: #79c0ffff;
  font-weight: 700;
}
.type {
  color: #ffa657ff;
}
.variable {
  color: #f0f6fcff;
}
.variable.special {
  color: #ff7b72ff;
}
.variant {
  color: #ffa657ff;
}
