name: tag-release
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  build-windows:
    name: windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: bahmutov/npm-install@v1.1.0
      - name: Build native packages
        run: yarn build-release
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-windows
          path: ./*.node
      - name: Smoke test
        run: node -e "require('./')"

  build-linux-gnu-x64:
    name: linux-gnu-x64
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps:
      - uses: actions/checkout@v1
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: bahmutov/npm-install@v1.1.0
      - name: Build native packages
        run: yarn build-release
        env:
          CFLAGS: -std=c99
      - name: Strip debug symbols # https://github.com/rust-lang/rust/issues/46034
        run: strip ./*.node
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-linux-gnu-x64
          path: ./*.node
      - name: debug
        run: ls -l ./*.node
      - name: Smoke test
        run: node -e 'require("./")'

  build-linux-gnu-arm:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: arm-unknown-linux-gnueabihf
            arch: armhf
            strip: arm-linux-gnueabihf-strip
          - target: aarch64-unknown-linux-gnu
            arch: arm64
            strip: aarch64-linux-gnu-strip
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: ${{ matrix.target }}
      - name: Install cross compile toolchains
        run: |
          sudo apt-get update
          sudo apt-get install gcc-arm-linux-gnueabihf gcc-aarch64-linux-gnu g++-aarch64-linux-gnu -y
      - uses: bahmutov/npm-install@v1.1.0
      - name: Build native packages
        run: yarn build-release --target ${{ matrix.target }}
      - name: Strip debug symbols # https://github.com/rust-lang/rust/issues/46034
        run: ${{ matrix.strip }} ./*.node
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.target }}
          path: ./*.node
      - name: debug
        run: ls -l ./*.node
      - name: Configure binfmt-support
        run: docker run --rm --privileged multiarch/qemu-user-static:register --reset

  build-linux-musl:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            strip: strip
          - target: aarch64-unknown-linux-musl
            strip: aarch64-linux-musl-strip
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    container:
      image: node:20-alpine
    steps:
      - uses: actions/checkout@v1
      - name: Install build tools
        run: apk add --no-cache python3 make gcc g++ musl-dev curl tar
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: ${{ matrix.target }}
      - name: Install cross compile toolchains
        if: ${{ matrix.target == 'aarch64-unknown-linux-musl' }}
        run: |
          curl -L -O https://github.com/devongovett/linux-musl-cross/releases/download/v1/aarch64-linux-musl-cross.tgz
          tar -xzf aarch64-linux-musl-cross.tgz
          cp -R aarch64-linux-musl-cross/* /usr
      - uses: bahmutov/npm-install@v1.1.0
      - name: Build native packages
        run: yarn build-release --target ${{ matrix.target }}
      - name: Strip debug symbols # https://github.com/rust-lang/rust/issues/46034
        run: ${{ matrix.strip }} ./*.node
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.target }}
          path: ./*.node
      - name: debug
        run: ls -l ./*.node
      - name: Smoke test
        if: ${{ matrix.target == 'x86_64-unknown-linux-musl' }}
        run: node -e 'require("./")'

  build-macos:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: aarch64-apple-darwin
            target: aarch64-apple-darwin
          - name: x86_64-apple-darwin
            target: x86_64-apple-darwin
    name: ${{ matrix.name }}
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: ${{ matrix.target }}
      - uses: bahmutov/npm-install@v1.1.0
      - name: Build native packages
        run: |
          sudo rm -Rf /Library/Developer/CommandLineTools/SDKs/*;
          export CC=$(xcrun -f clang);
          export CXX=$(xcrun -f clang++);
          SYSROOT=$(xcrun --sdk macosx --show-sdk-path);
          export CFLAGS="-isysroot $SYSROOT -isystem $SYSROOT";
          export MACOSX_DEPLOYMENT_TARGET="10.9";
          yarn build-release --target ${{ matrix.target }}
      - name: Strip debug symbols
        run: strip -x ./*.node
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.target }}
          path: ./*.node
      - name: debug
        run: ls -l ./*.node

  build-and-release:
    runs-on: ubuntu-latest
    name: Build and release the tagged version
    needs:
      - build-windows
      - build-linux-musl
      - build-linux-gnu-arm
      - build-macos
    steps:
      - uses: actions/checkout@v1
      - uses: bahmutov/npm-install@v1.1.0
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Move artifacts
        run: mv artifacts/*/*.node .
      - name: Debug
        run: ls -l ./*.node
      - run: echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm publish
